/* Structure */
body {
    font-family:  "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}
header, .content, footer {
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px;
    vertical-align: top;
}
header {
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: text-bottom;
    background-image: url('/images/header-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
nav {
    padding-top: 125px;
    font-size: 2.5em;
}
nav a {
    background-color: #000;
    padding: 10px 15px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}
nav a:visited {
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
form {
    max-width: 600px;
    margin: 0px auto;
}
form input[type=text], 
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=submit],
form input[type=button],
form textarea {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}
form label {
    display: block;
    margin-bottom: 3px;
}
footer {
    display: block;
    clear: both;
    padding: 15px 0px;
    font-size: .8em;
}
.title {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.info {
    margin: 0px;
    padding: 0px;
}
.manage th.left {
    text-align: left;
}
.manage td.center {
    text-align: center;
}

/* Markdown Styles*/
.markdown img {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: none;
}
.markdown pre {
    padding: 20px;
    border:1px solid #aaa;
    background-color: #eee;
    overflow-x: hidden;
}
.markdown blockquote {
    border-left: 2px solid #39d;
    padding-left: 5px;
}

@media all and (max-width:499px) {
    .tags {
        display:none;
    }
}
@media all and (min-width:500px) {
    .tags {
        float: right;
        clear:none;
        width: 15%;
        display: inline-block;
    }
    .entry {
        float: left;
        clear: none;
        display: inline-block;
        width: 84%
    }
}