/* Structure */
body {
    font-family:  "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}
header, .content, footer {
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px;
}
header {
    height: 50px;
    text-align: center;
    vertical-align: text-bottom;
}
nav {
    font-size: 1.8em;
}
form {
    max-width: 500px;
    margin: 0px auto;
}
form input[type=text], 
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=submit],
form textarea {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}
form label {
    display: block;
    margin-bottom: 3px;
}
footer {
    padding: 15px 0px;
    font-size: .8em;
}
.entry > h2 {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.entry > p:not(.snippet) {
    margin: 0px;
    padding: 0px;
}

/* Markdown Styles*/
.markdown img {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: none;
}
.markdown pre {
    padding: 20px;
    border:1px solid #aaa;
    background-color: #eee;
}
.markdown blockquote {
    border-left: 2px solid #39d;
    padding-left: 5px;
}